
{% extends "core/layout.html" %}

{% load static %}

{% load custom_filters %} 

{% block title %}{{category}}{% endblock %}

{% block content %}

<div class="mx-8 my-5">
     <div class=" w-full h-full flex justify-center items-center">
          <!-- Article Header Card -->
          <div class="relative rounded-xl overflow-hidden">
               <!-- Background Image -->
               <div class="aspect-[17/6] relative">
                    <img src="{{image_url}}" alt="heading image" class="w-full h-full object-cover">
                    
                    <!-- Gradient Overlay -->
                    <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-black/20"></div>
               </div>

               <!-- Content Overlay -->
               <div class="absolute inset-0 p-6 flex flex-col justify-end">
                    
                    <div class="mb-4">
                         <a href="{% url 'category' category.id %}" class="rounded-lg text-xs font-semibold {{btn_col}} text-white py-1 px-2"> {{category}} </a>
                    </div>

                    <!-- Title -->
                    <h1 class="text-white text-base md:text-3xl font-bold mb-4 max-w-2xl">
                         This is a demo heading for all categories.
                    </h1>

                    <!-- Author Info -->
                    <div class="flex items-center space-x-3">
                         <div class="w-8 h-8 text-white rounded-full items-center justify-center inline-block">
                              <svg class="text-gray-200 " fill="currentColor" viewBox="0 0 24 24">
                                   <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
                              </svg>
                         </div>

                         <div class="flex items-center space-x-2">
                         <span class="text-white text-sm font-semibold">Admin</span>
                         <span class="text-gray-300">•</span>
                         <span class="text-gray-300 text-xs">January 01, 2024</span>
                         </div>
                    </div>
               </div>
        </div>
    </div> 
     <div class="grid grid-cols-3 gap-3 my-8">
    
		{% for blog in related_blogs %}
			<div class="border p-1.5 rounded-md">
				<a href="{% url 'details' blog.id %}">
					<img src="{{blog.image.url}}" alt="{{blog.name}}" class="rounded-md w-full h-48 shadow-lg object-cover object-center"/>
					<div class="mx-3 my-6">
						<a href="{% url 'category' blog.category.id %}" class="rounded-lg text-xs font-semibold {{btn_col}} text-white py-1 px-2"> {{blog.category}} </a>
                              <div class="bg-white rounded-b-md mt-2">
							<div class="flex justify-between blogs-center">
								<h3 class="text-gray-950 text-lg font-semibold"> {{ blog.heading }} </h3>
							</div>
						</div>
						<div class="flex items-center justify-between grids grid-cols-3 space-x-3 my-3">
							<div class="flex space-x-3">
								<!-- Avatar --> 
								<a href="{% url 'author' blog.created_by.id %}" class="m-0" >
									<div class=" w-9 h-9 rounded-full overflow-hidden grid-rows-2">
										<img src="{{ blog.created_by.id | get_user_dp }}"/>
									</div>
								</a>
								<!-- Name and Date -->
								<div class="items-center justify-center">
									<span class=" text-gray-700 text-[14px] block font-medium">{{ blog.created_by.id | get_user_full_name}}</span>
									<span class="text-gray-500 text-[12px] block">@{{ blog.created_by }}</span>
								</div>
							</div>
							<span class="text-gray-400 text-xs">{{ blog.added_date | get_formated_date }}</span>
							
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}